@use "../../assets/scss/fonts";

.main {
  &__title {
    font-family: "RM", sans-serif;
    font-size: 20px;
    color: #000000;
  }

  &__description {
    font-family: "RR", sans-serif;
    font-size: 14px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  &__sum {
    font-family: "RM", sans-serif;
    font-size: 20px;
    color: #000000;
  }
}
